.App {
  text-align: center;
}

.castle-container img{
    width: 15em;
}

.circle {
  height: 150px;
  width: 150px;
  background-color: #84739A;
  border-radius: 50%;
}

.middle {
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.castle-text{
    color: #ffffff;
    font-weight: bold
}

.zoom-animation {
    animation: zoom-in 6s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  100% {
    transform: translate(-50%, -50%) scale(2, 2);
  }
}