/* Colors */
$primary: #C212EA;
$secondary: #CBB7C3;
$third: #E9DCD8;
$fourth: #F5E5BC;
$fifth: #CEB4A1;
$pink: #F8E3E8;

$cursive-font: 'Great Vibes', serif;
$playfair-display-serif: 'Payfair Display', serif;
$playfair-display-sans: 'Payfair Display', sans-serif;

body {
  background-image: url("./assets/lanterns.jpg");
  background-size: 400px;
  //background-size: cover;
  font-family: $playfair-display-serif;
  color: white;
}

.corner {
  position: absolute;
  filter: invert(79%) sepia(93%) saturate(690%) hue-rotate(348deg) brightness(90%) contrast(94%);

  &.top-left {
    left: 0px;
    top: 0px;
  }

  &.top-right {
    -webkit-transform: scaleX(-1);
    right: 0px;
    top: 0px;
    transform: scaleX(-1);
  }

  &.bottom-left {
    -webkit-transform: scaleY(-1);
    bottom: 0px;
    left: 0px;
    transform: scaleY(-1);
  }

  &.bottom-right {
    -webkit-transform: scaleX(-1) scaleY(-1);
    bottom: 0px;
    right: 0px;
    transform: scaleX(-1) scaleY(-1);
  }
}

.App {
  text-align: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin: 10px;
  border: solid #dfc911;
  position: relative;
}

.castle-container {
  position: relative;
  color: white;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }

  p {
    //    text-shadow: 1px 1px 2px black, 0 0 1em white;
    animation: appear 5s forwards linear;
    color: black;
    font-family: $cursive-font;
    font-size: 2em;
    left: 50%;
    margin-left: -2%;
    max-width: 65%;
    position: absolute;
    top: 26%;
    transform: translate(-50%);
  }
}

.title-image-description {
  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 10px;
    border: solid black 2px;
    padding: 3px;
  }

  p {
    line-height: 1em;
  }

  >div {
    display: flex;
  }
}

.line-spacing {
  &-0 {
    p {
      line-height: 0;
    }
  }
}

.cursive {
  p {
    font-family: $cursive-font;
  }
}

.zoom-animation {
  animation: zoom-in 3s ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section {
  display: flex;
  justify-content: center;
  gap: 40px 20px;
  flex-wrap: wrap;

  &.auto-flex {
    >div {
      box-sizing: border-box;
      flex: 1;
    }

  }
}

.markElement {
  border: solid red 2px;
}

.card {
  padding: 10px;
  display: grid;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.6);

  >div {
    margin: auto;
  }
}

.tick {
  font-size: 3em;
}

.display-block {
  display: block;
}

.display-grid {
  display: grid;
}

.giftSection {
  padding: 2px;
  display: flex;
  align-items: baseline;
  font-size: 2em;

  span {
    margin: 0 15px;
    font-size: 1em;
  }
}

.date-presentation {
  display: flex;
  gap: 5px;
  font-family: $playfair-display-serif;

  p {
    align-self: center;
  }

  >p {
    border-top: solid white 1px;
    border-bottom: solid white 1px;
  }

  >div {
    line-height: 0;

    h6 {
      font-size: 40px;
      margin: 30px 2px;
    }
  }
}

.underline {
  text-decoration: underline;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .card {
    p {
      font-size: 1.5em;
    }
  }

  .App {
    padding: 30px;
  }

  .corner {
    width: 200px;
  }

  .castle-container {
    width: auto;
    height: 100%;

    p {
      top: 24%;
      margin-left: -7px;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  section {
    &.auto-flex {
      >div {
        flex: auto;
      }

    }
  }

  .title-image-description>div {
    flex-flow: column;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 596px) {
  .App {
    padding: 60px;

  }

  .castle-container {

    p {
      top: 25%;
      font-size: 3em;
    }
  }

  .card p {
    font-size: 20px;

  }

  .cursive {
    p {
      font-size: 34px;
      line-height: normal;
    }
  }

  section {
    &.auto-flex {
      >div {
        flex: auto;
      }

    }
  }

  .corner {
    width: 260px;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .castle-container {
    p {
      top: 24%;
      font-size: 3.5em;
    }
  }

  .card p {
    font-size: 24px;
  }

  .cursive {
    p {
      font-size: 34px;
    }
  }

  .corner {
    width: 330px;
  }

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .corner {
    width: 330px;
  }

  .castle-container {
    p {
      font-size: 4em;
    }
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .App {
    padding: 70px;

  }

  .castle-container {
    width: 800px;
    height: 800px;

    p {
      font-size: 4em;
      top: 26%;

    }
  }

  .card p {
    font-size: 28px;
  }

  body {
    background-size: 1200px;
  }

  .corner {
    width: 400px;
  }
}